.navbarContainer {
  display: flex;
  flex-direction: row;
  background-color: Var(--surface-a1);
  padding: 10px;
  width: 100%;
  font-family: Arial;
}

.navbarLogo {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-a0);
  text-decoration: none;
}

.navbarLogo:hover {
  color: var(--primary-a1);
}

.navbarContainerRight {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
  align-items: center;
}

.navbarLink {
  background-color: var(--primary-a0);
  color: var(--text);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}
