.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--surface-a0);
}

.signupForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--surface-a1);
  color: var(--text);
  font-family: Arial;
}

.signupForm h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: var(--primary-a0);
}

.signupForm label {
  margin-top: 10px;
  font-size: 24px;
}

.signupForm input {
  padding: 6px;
  border-radius: 8px;
  border: none;
  background-color: var(--surface-a2);
  color: var(--text);
  font-size: 20px;
}

.signupForm button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-a0);
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.signupForm button:hover {
  background-color: var(--primary-a1);
}

.signupForm p {
  margin-top: 10px;
  font-size: 16px;
}

.signupFormLink {
  color: var(--primary-a0);
  font-weight: bold;
  text-decoration: none;
}

.signupFormLink:hover {
  text-decoration: underline;
}

.error {
  color: var(--error);
  font-size: 14px;
  margin-top: 10px;
}

.passwordInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--surface-a2);
  border-radius: 8px;
  padding: 0 6px;
}

.passwordInputContainer input {
  flex: 1;
  background-color: transparent; 
  padding: 6px 0; 
  border: none;
  outline: none;
}

.passwordInputContainer button {
  margin-top: 0;
  margin-left: 10px;
  padding: 6px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: var(--text);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordInputContainer button:hover {
  background-color: var(--surface-a3);
}