.testPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-a0);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial;
  color: var(--text);
}

.testContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.testContainer h1 {
  margin-top: 20px;
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-a0);
  margin-bottom: 20px;
}

.testResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 20px;
}

.testResultsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-a1);
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

.testResultsBox h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-a0);
}

.testResultsBox p {
  font-size: 24px;
  margin-bottom: 10px;
}

.testResultsBox span {
  font-weight: bold;
  color: var(--primary-a0);
}

.gradeChartContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.gradeChartContainer p {
  position: absolute;
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-a0);
}

.questionTypeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 15px;
  gap: 15px;
}

.submitButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  gap: 10px;
  margin-bottom: 20px;
}

.submitButton {
  padding: 10px;
  width: 100%;
  background-color: var(--primary-a0);
  color: var(--text);
  font-weight: bold;
  font-family: Arial;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: var(--primary-a1);
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-color: var(--surface-a1);
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: var(--surface-a2);
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-a1);
  padding: 20px;
  border-radius: 8px;
}

.errorBox h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-a0);
}

.errorBox p {
  font-size: 20px;
  color: var(--surface-a5);
}

.errorLink {
  padding: 10px 20px;
  background-color: var(--primary-a0);
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
}

.errorLink:hover {
  background-color: var(--primary-a1);
}
